$color: #1abc9c;

.btn {
  border: none;
  background-color: $color;
  padding: 10px 15px;
  color: white;
  font-weight: 900;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  transition: color, 0.2s;
  font-size: 15px;
  white-space: nowrap;

  &:hover:not(.disabled) {
    background-color: lighten($color, 10);
  }
}

.disabled {
  background-color: red;
}
