$hoverColor: #1abc9c;
$bg: #34495e;

.wrapper {
  padding: 10px 16px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 100px;
  cursor: pointer;
  transition: 0.2s all;
  position: relative;
  background-color: $bg;
  border-radius: 6px;

  svg {
    fill: white;
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.label {

}

.disabled {
  pointer-events: none;
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $bg;
  z-index: 10;
  list-style: none;
  padding: 0;
  border-radius: 6px;
  max-height: 350px;
  overflow: auto;
}

.item {
  padding: 10px 16px;
  margin: 4px;

  &:hover {
    background-color: $hoverColor;
  }
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:hover {
    color: $hoverColor;

    svg {
      fill: $hoverColor;
    }
  }
}
